@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

* {
  margin: 0;
  padding: 0;
  font-size: 15px;
  box-sizing: border-box;
  font-family: 'Big Shoulders Stencil Text', cursive;
  letter-spacing: 0.1rem;
  scroll-behavior: smooth;
}


/**************** NAVBAR CLASS***********************/
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 8px 1px rgba(30, 30, 30, 0.15);
  z-index: 100;
}


a.navbar-brand.apimanga {
  color: #282828;
  font-family: 'League Gothic', sans-serif;
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;

}

/*************************************************** BANNER CLASS */
section.banner {
  position: relative;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  margin-top: 79px;
}

/*************************************************** HOME CLASS */
.card-group {
  a {
    text-decoration: none;
    outline: none;
  }

  h5 {
    color: black;
    font-weight: bold;
  }
}


.card {
  overflow: hidden;

  img {
    transition: transform .1s;
  }

  img:hover {
    transform: scale(1.15);
  }
}

/*************************************************** ANIME & MANGA SHOW CLASS */
.star {
  width: 30px;
}

ul {
  li {
    list-style: none;
  }
}

.logo {
  margin: 0;
  padding: 0;
}

.header-stats {
  ul {
    background:#F6F6F6;
  }
}

.header-info {
  li {
    margin-bottom: 4px;
    font-size: 1.1rem;
    span{
      font-size: 1.2rem;
    }


  }
}

/*************************************************** MEDIA QUERIES */
@media (min-width: 768px) {
  .yt-video {
    height: 300px;
    width: 500px;
  }
}





