<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<header class="nav-bar">

    <nav class="px-3 py-3 bg-white text-dark">
        <div class="container-fluid d-block flex-wrap align-items-center justify-content-center">

            <ul class="nav col-12 col-lg-auto my-2 justify-content-center align-items-center my-md-0">
                <li class="nav-item px-1">
                    <a href="" class="nav-link text-dark nav-hover" title="Top Rated">
                        <i class="far fa-grin-alt"></i>
                    </a>
                </li>
                <li class="nav-item px-4">
                    <a class="navbar-brand mx-0 px-2 apimanga" href="">Apimanga</a>
                </li>

                <li class="nav-item px-1">
                    <a href="" class="nav-link text-dark nav-hover" title="Contact">
                        <i class="far fa-user"></i>
                    </a>
                </li>
            </ul>
        </div>

    </nav>

</header>

<body>
{% block body %}{% endblock %}
</body>

<footer class="footer border-top p-5">
    <div class="row">
        <div class="col text-center">
            <a href="mailto:mathieu.bretaud@gmail.com" class="text-muted text-decoration-none fs-5">Mathieu Bretaud</a>
            <p>Copyright &copy; {{ "now"|date("Y") }}</p>
            <small class="mb-5 d-block">API From <a href="https://kitsu.docs.apiary.io/#">Kitsu</a></small>

        </div>
    </div>
</footer>
</html>
